.container > header h1 {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
}

.wrapper {
  line-height: 1.5em;
  margin: 0 auto;
  padding: 2em 0 3em;
  width: 90%;
  max-width: 2000px;
  overflow: hidden;
}

 table {
  color: #eeeeee;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgba(161, 145, 206, 0.46);
  color: #eeeeee;
  font-weight: bold;
  white-space: nowrap;
}

table td, th {
  padding: 1em 1.5em;

}

tbody th {

}
tbody tr:nth-child(2n-1) {
  transition: all .125s ease-in-out;
}
tbody tr:hover {
  background-color: rgba(50,98,149,.3);
}

td.rank {
  text-transform: capitalize;
}
